@model Category

@{
    ViewData["Title"] = "Edite Category";
}

<form asp-action="Update" enctype="multipart/form-data">

    <div class="container">
        <div class="row">
            <div class="col-6">
                <label asp-for="Name" class="text text-black"></label>
                <input asp-for="Name" type="text" placeholder="Enter Category" />
                <input name="Id" type="text" hidden value="@Model.Id" />

            </div>
            <span asp-validation-for="Name" class="text text-danger"></span>
        </div>
        <div class="col-6 mt-4">
            <input asp-for="ImageFile" type="file" id="imageCover" />
        </div>
        <span asp-validation-for="ImageFile" class="text text-danger"></span>
        <div class="col-4 mt-4">
            <button type="submit" class="btn btn-success"> Update </button>
        </div>
        <div class="col-6 mt-4">
            <img src="@($"{Settings.imagesPath}/{Model.Image}")" class="img-preview img-thumbnail img-fluid" />
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/image_preview.js"></script>
}
